/auth-service/.idea/compiler.xml
/notification-service/.idea/compiler.xml
/auth-service/.idea/encodings.xml
/notification-service/.idea/encodings.xml
/auth-service/.idea/jarRepositories.xml
/notification-service/.idea/jarRepositories.xml
/auth-service/.idea/misc.xml
/notification-service/.idea/misc.xml
/auth-service/.idea/workspace.xml
/notification-service/.idea/workspace.xml
